<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcg.dao.OrderDOMapper">
  <resultMap id="BaseResultMap" type="com.wcg.dataobject.OrderDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="cargo_name" jdbcType="VARCHAR" property="cargoName" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, customer_name, cargo_name, supplier, amount, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_wms
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_wms
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_wms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wcg.dataobject.OrderDO">
    insert into order_wms (id, order_id, customer_name, 
      cargo_name, supplier, amount, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{cargoName,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wcg.dataobject.OrderDO">
    insert into order_wms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="cargoName != null">
        cargo_name,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="cargoName != null">
        #{cargoName,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wcg.dataobject.OrderDO">
    update order_wms
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="cargoName != null">
        cargo_name = #{cargoName,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wcg.dataobject.OrderDO">
    update order_wms
    set order_id = #{orderId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      cargo_name = #{cargoName,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>