<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="这是一个 gallery 页面">
  <meta name="keywords" content="gallery">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
  <link rel="stylesheet" type="text/css" href="assets/common/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="assets/common/bootstrap/css/bootstrap.css" media="all">
  <link rel="stylesheet" type="text/css" href="assets/common/global.css" media="all">
  <link rel="stylesheet" type="text/css" href="assets/css/personal.css" media="all">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>良品小铺</strong> <small>后台仓库管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="index"><span class="am-icon-home"></span> 首页</a></li>

      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 我的面板<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2" >
          <li><a href="admin-user.html" class="am-cf"><span class="glyphicon glyphicon-user"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
          <li><a href="admin-gallery"><span class="glyphicon glyphicon-pencil"></span> 修改密码</a></li>
          <!-- <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
           <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>-->
        </ul>
      </li>

      <li class="admin-parent">
        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 操作商品<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
          <li><a href="enterUI" class="am-cf"><span class="glyphicon glyphicon-home"></span> 商品入库<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
          <li><a href="houseUI"><span class="glyphicon glyphicon-home"></span> 商品出库</a></li>

          <!--<li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
          <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>-->
        </ul>
      </li>



      <li><a href="admin-cargo"><span class="glyphicon glyphicon-shopping-cart"></span> 货物信息</a></li>
      <li><a href="admin-supplier"><span class="glyphicon glyphicon-user"></span> 客户信息</a></li>
      <li><a href="orderUI"><span class="glyphicon glyphicon-list-alt"></span> 查看订单</a></li>
      <!--<li><a href="admin-house"><span class="glyphicon glyphicon-home"></span> 仓库信息</a></li>-->

      <li><a href="logout"><span class="am-icon-sign-out"></span> 注销</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
      </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span> wiki</p>
        <p>Welcome to the Amaze UI wiki!</p>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <section class="layui-larry-box">
      <div class="larry-personal">
        <header class="larry-personal-tit">
          <span>修改密码</span>
        </header><!-- /header -->
        <div class="larry-personal-body clearfix changepwd">
          <form class="layui-form col-lg-4" method="post" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-block">
                <input type="text" name="title"  autocomplete="off"  class="layui-input layui-disabled" value="admin" disabled="disabled" >
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">旧密码</label>
              <div class="layui-input-block">
                <input type="password" name="title"  autocomplete="off"  class="layui-input" value="" placeholder="请输入旧密码" id="password1">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-block">
                <input type="password" name="title"  autocomplete="off"  class="layui-input" value="" placeholder="请输入新密码" id="password2">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认密码</label>
              <div class="layui-input-block">
                <input type="password" name="title"  autocomplete="off"  class="layui-input" value="" placeholder="请输入确认新密码" id="password3">
              </div>
            </div>
            <div class="layui-form-item change-submit">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="tj">提交</button>

                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="assets/common/layui/lay/dest/layui.all.js"></script>
    <script type="text/javascript" src="assets/js/login.js"></script>
    <script type="text/javascript" src="assets/jsplug/jparticle.jquery.js"></script>
    <script type="text/javascript" src="assets/common/layui/layui.js"></script>
    <script type="text/javascript">
      layui.use(['form','upload'],function(){
        var form = layui.form();
      });
      jQuery(document).ready(function () {
        $("#tj").on("click",function () {
          var password1 = $("#password1").val();
          var password2 = $("#password2").val();
          var password3 = $("#password3").val();
          if (password3=="" ||password2=="" ||password1=="") {
            alert("不能为空");
            return false;
          }else if (password2!=password3) {
            alert("两次密码不一致");
            return false;
          }else if (password1==password2) {
            alert("不能与原密码相同");
            return false;
          }
          $.ajax({
            type:"POST",
            //contentType:"application/x-www-form-urlencoded",
            //contentType:"application/json;charsetset=UTF-8",
            url:"changepwd",
            data:{
              "managementPass":$("#password1").val(),
              "password":$("#password2").val(),
            },
            xhrFields:{withCredentials:true},
            success:function (data) {

              if(data.status=="success"){
                alert("已更改！");
                document.getElementById("password1").value="";
                document.getElementById("password2").value="";
                document.getElementById("password3").value="";
              }
              else{
                alert(data.data.errMsg);
              }
            },
            error:function (data) {
              alert(managementPass);
              alert("发送失败"+data.responseText);
            }
          });

          return false;
        });

      });
    </script>
  </div>
  <!-- content end -->

</div>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="assets/js/app.js"></script>
</body>
</html>
